/*     background: linear-gradient(90deg, #2bbac2, #2caeb7); */
/* background: linear-gradient(145deg, #304967, #203b5b); */
.ResetContainer {
    display: flex;
    min-height: 100vh;
    background: #203b5b;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */
.Reset-card {
    position: absolute;
    width: 500px;
    height: 600px;
    padding: 35px;
    background: #162b3a;
    border-radius: 0px 0px 0px 0px;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    right: 180px;
    margin-top: 20px;
    border-bottom: 4px solid #2bbac2;
    border-right: 4px solid #2bbac2;

}

.Resetlogo-card {
    position: absolute;
    width: 500px;
    height: 600px;
    padding: 35px;
    background-image: url(backgnd4.jpg);
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 0px;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    left: 180px;
    margin-top: 20px;
    border-top: 4px solid #2bbac2;
    border-left: 4px solid #2bbac2;
}

/* Heading */
.Reset-card h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: bold;
    color: #ececec;
}

/* Labels */
.Resetform-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px solid #2bbac2;
}

.Resetform-group label {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: #ececec;
    margin-right: 239px;
    text-align: left;
}

/* Inputs */
.Resetform-group input {
    height: 42px;
    border: none;
    border-radius: 10px;
    padding: 0 12px;
    font-size: 15px;
    outline: none;
    color: black;
    background: #ececec;
    border-bottom: 3px solid #2bbac2
}

/* Button */
.ResetsubmitButton {
    width: 170px;
    height: 42px;
    display: block;
    margin: 60px auto 0;
    border: none;
    border-radius: 25px;
    background: #2bbac2;
    color: rgb(235, 235, 235);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: medium;
}

.ResetsubmitButton:hover {
    background: #162b3a;
}

.ResetCancelButton {
    width: 170px;
    height: 42px;
    display: block;
    margin: 60px auto 0;
    border: 2px solid #2bbac2;
    border-radius: 25px;
    background: none;
    color: #ececec;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: medium;
}

.ResetCancelButton:hover {
    background: #2bbac2;
}

.Resetlogoicon {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.ResetButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-bottom: 5px;
}

/* .Resetwelcome-text {
    margin-top: 65%;
    font-weight: 700;
} */